@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root{
    --black:#000;
    --red:#f60303;
    --white:#fff;
    --grey:#c1c1c1;
    --lightgrey:#f1f1f1;
    --open-sans: "Open Sans", sans-serif;
}

*{
    margin:0px;
    box-sizing: border-box;
    font-family: var(--open-sans);
    font-size: 16px;
    outline: none;
}

a{
    text-decoration: none;
    color:var(--black);
    transition: 0.3s ease-in-out;
    
    &:hover{
        color: var(--red);
        transition: 0.3s ease-in-out;
    }
}

ul{
    padding: 0px;
}

li{
    list-style: none;
}

.hidden{
    display: none;
}

.flex {
    display: flex;
    flex-direction: row;
}

.flex-down{
    display: flex;
    flex-direction: column;
}

.bold{
    font-weight: 700;
}

section img:hover{
    filter: grayscale(70%);
    transition: all 0.3s ease-in-out ;
}

header{
    max-width: 1440px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 20px;
}

header img{
    max-width: 180px;
    width: 100%;
}


header nav a:hover{
    border-top: 1px solid var(--red);
    padding-top: 40px;
    transition: all 0.2s  ease;
}


.burger-menu {
    display: none;
}

header nav ul{
    gap: 60px;
    align-items: center;
}

footer{
    
    max-width: 1440px;
    width: 100%;
    margin: auto;
}

footer>div{
    background-color: var(--lightgrey);
    border-radius: 15px 15px 0px 0px;
    padding: 30px;
    margin: auto;
    justify-content: space-around;
}

footer>div>div{
    max-width: 450px;
    width: 100%;
}

footer p{
    text-align: center;
    padding: 20px;
    justify-content: center;
}

footer li{
    padding: 5px 0px;
}

footer h2{
    padding: 20px 0px;
}

h1{
    font-size: 22px;
}

#hero{
    max-width: 1440px;
    margin: auto;
    gap: 40px;
    padding: 60px 10px;
}

.red{
    color: var(--red);
}

#research{
    align-items: center;
}

#search-logo{
    color: var(--white);
    background-color: #f60303;
    padding: 8px 6px;
    border-radius: 7px 0 0 7px;
}

#search-btn{
    color: var(--white);
    background-color: #f60303;
    padding: 8px 15px;
    border-radius: 0 7px 7px 0;
    border: none;
    cursor: pointer;
}

#search-input{
    padding: 7px 15px;
    border: solid 1px var(--grey);
    border-left: none;
    border-right: none;
}

.filterBTN{
    padding: 7px 12px;
    border: solid 1px var(--red);
    background-color: var(--white);
    border-radius: 12px;
    cursor: pointer;
    transition: all ease-in-out 0.2s ;

    &:hover{
        background-color: var(--red);
        color: var(--white); 
        transition: all ease-in-out 0.2s ;
    }
}

.filterBTN i{
    color: var(--red);
    padding-right: 10px;
    transition: all ease-in-out 0.2s ;

}

.filterBTN:hover i{
    color: var(--white);
    transition: all ease-in-out 0.2s ;

}


#filterDiv{
    align-items: center;
    gap: 20px;
}

#filtersP{
    font-size: 18px;
}

#accomodations{
    max-width: 1440px;
    gap: 20px;
    margin: auto;
}

#accomodations h2{
    font-size: 22px;
    margin: 40px 0px;
}

.Recommended{
    background-color: var(--red);
    color: var(--white);
    padding: 5px ;
    border-radius: 4px;
    font-size: 13px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 15;
}

.Popular{
    background-color: var(--red);
    color: var(--white);
    padding: 5px ;
    border-radius: 4px;
    font-size: 13px;
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 15;

}

.accomodationsWidget{
    cursor: pointer;    
    background-color: var(--white);
    border-radius: 12px;
    padding: 5px;
    box-shadow: 0 2px 15px #C1C1C1;
    width: fit-content;
    flex: 1 0 27%;
    position: relative;

    &:hover a{
        color: var(--black);
    }
}

.accomodationsWidget .stars{
    color: var(--red);
}

.accomodationsWidget .starDisable{
    color: var(--grey);
}


#accomodations>div , #accomodations aside{
    background-color: var(--lightgrey);
    border-radius: 12px;
    padding: 0px 50px;
}

#accomodations>div>div{
    gap: 20px;   
    flex-wrap: wrap; 
    justify-content: center;
}

#accomodations img{
    height: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    transition: all 0.3s ease-in-out;
    &:hover{
        transform: scale(1.02);
        transition: all 0.3s ease-in-out;
    }
}
.contentAccomodation{
    gap: 15px;
    padding-left: 10px;
    width: 220px;
}

#accomodations #loadMore{
    background-color: var(--lightgrey);    
    justify-content: left;
    margin: 40px;
    border-radius: 0px 0px 12px 12px ;
}

#accomodations .accommodationRightImg{
    width: 95px;
    border-radius: 12px 0px 0px 12px;
}
    
.asideWidget{
    gap: 20px;
}

#activities{
    max-width: 1440px;
    margin: auto;
    padding: 50px 0px;
}

#activities h2{
    font-size: 22px;
}

#activities article{
    flex: 1 0 25%;
    padding: 50px 20px;
    text-align: center;
   
}

#activities article a{
    height: fit-content;
    box-shadow: 0px 5px 100px var(--grey);
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    font-weight: bold;

    &:hover{
        color: var(--black);
    }
}

#activities p{
    padding: 15px 0px;
    border-radius: 0px 0px 12px 12px;
}

#activities img{
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1024px){
    #accomodations{
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
    }

    #accomodations aside{
        width: 100%;
        padding-bottom: 50px;
    }

    #accomodations .accomodationsWidget{
        width: 100%;
    }

    #accomodations .accommodationRightImg {
        flex: 0.5 0 25%;
    }

    #activities{
        margin-left: 15px;
        margin-right: 15px;
    }

    #activities div{
        flex-wrap: wrap;
        display: flex;
    }
    #activities article{
        flex: 1 0 50%;
    }
}

@media screen and (max-width: 720px){
    header {
        flex-wrap: wrap;
        justify-content: center;
    }

    header nav{
        padding-top: 50px;
    }

    #search-input{
        width: 150px;
    }

    #filterDiv{
        flex-wrap: wrap;
    }
    
    #accomodations>div,#accomodations>aside{
        padding: 0px 20px;
    }

    aside {
        order: -1;
    }

    footer div{ 
        flex-wrap: wrap;
        gap: 20px;
    }

    #activities article {
        flex: 1 0 100%;
    }
}
